<html>
<head>
    <script>
        function submit() {
            document.forms[0].submit()
        }
    </script>
    <h1 align="center">Human Resource Management System</h1>
</head>
<body>
    <br><br><br>
    <center>
    {{message}}
    <br><br><br>
    
        <form method="post" action="/hrms/">            
            {% csrf_token %}
            Scan your Id: <input type="text" name="emp_id" onenter="submit()">
        </form>

        <table style="width:700px" border="1" cellspacing="0" cellpadding="0">
            <tr>
                <th>Date</th>
                <th>Time In</th>
                <th>Time Out</th>
            </tr>
            {% for a in attendance %}
            <tr>
                <td>
                    {{a.date | date:'Y-m-d'}}
                </td>
                <td>
                    {{a.time_in | date:'H:i'}}
                </td>
                <td>
                    {{a.time_out | date:'H:i'}}
                </td>
            </tr>

            {% endfor %}


        </table>
    </center>
</body>
</html>